<!-- =====================================
OPS PORTAL V6
MODERN FUTURE SIDEBAR
===================================== -->


<div
id="sidebar-overlay"
class="
hidden
fixed
inset-0
bg-black/50
backdrop-blur-sm
z-40
">
</div>



<aside

id="sidebar"

class="
fixed
top-0
left-0
h-full
w-72
z-50
-translate-x-full
transition-transform
duration-500
sidebar-future
">



<!-- LOGO -->

<div
class="
p-6
border-b
border-cyan-400/20
">


<div
class="
flex
items-center
gap-3
">


<div
class="
w-12
h-12
rounded-2xl
bg-cyan-400/20
flex
items-center
justify-center
glow
">


<svg
viewBox="0 0 24 24"
fill="none"
stroke="currentColor"
stroke-width="2"
class="w-7 h-7 text-cyan-400">


<path d="M12 2L2 7l10 5 10-5-10-5z"/>

<path d="M2 17l10 5 10-5"/>

<path d="M2 12l10 5 10-5"/>


</svg>


</div>



<div>


<h1
class="
text-2xl
font-bold
text-white
">

OPS Portal

</h1>


<p
class="
text-xs
text-slate-400
">

Operation Control Center

</p>


</div>


</div>


</div>







<nav
class="
p-5
space-y-2
">





<!-- DASHBOARD -->

<a
data-link="dashboard"
class="
menu-link
">


<svg viewBox="0 0 24 24">

<path d="M3 13h8V3H3v10zM3 21h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>

</svg>


<span>
Dashboard
</span>


</a>







<!-- IP -->


<a
data-link="ip"
class="
menu-link
">


<svg viewBox="0 0 24 24">

<path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 17h-2v-2h2zm2.1-7.25-.9.92A3 3 0 0 0 13 15h-2v-.5a4 4 0 0 1 1.17-2.83l1.24-1.24A1.5 1.5 0 0 0 12.35 8a1.5 1.5 0 0 0-1.5 1.5H9a3.5 3.5 0 1 1 7 0 3.45 3.45 0 0 1-.9 2.25z"/>

</svg>


<span>
IP Management
</span>


</a>








<!-- QC -->


<a
data-link="qc"
class="
menu-link
">


<svg viewBox="0 0 24 24">

<path d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm-7 14H7v-2h5zm5-4H7v-2h10zm0-4H7V7h10z"/>

</svg>


<span>
QC Operations
</span>


</a>








<!-- PLC -->


<a
data-link="plc"
class="
menu-link
">


<svg viewBox="0 0 24 24">

<path d="M19.43 12.98c.04-.32.07-.65.07-.98s-.02-.66-.07-.98l2.11-1.65-2-3.46-2.49 1a7.1 7.1 0 0 0-1.69-.98L15 2h-6l-.37 2.93a7.1 7.1 0 0 0-1.69.98l-2.49-1-2 3.46 2.11 1.65c-.04.32-.07.65-.07.98s.02.66.07.98L4.45 14.63l2 3.46 2.49-1c.52.42 1.09.75 1.69.98L11 21h4l.37-2.93c.6-.24 1.17-.56 1.69-.98l2.49 1 2-3.46-2.12-1.65z"/>

</svg>


<span>
PLC Work
</span>


</a>









<!-- KNOWLEDGE BUTTON -->


<button

id="knowledge-toggle"

class="
menu-link
w-full
">


<div
class="
flex
items-center
gap-4
">


<svg viewBox="0 0 24 24">

<path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20V2H6.5A2.5 2.5 0 0 0 4 4.5v15z"/>

<path d="M6.5 22H20v-3H6.5a2.5 2.5 0 0 0 0 5z"/>

</svg>


<span>
Knowledge Center
</span>


</div>



<svg
id="knowledge-arrow"
viewBox="0 0 24 24"
class="arrow">


<path d="M6 9l6 6 6-6"/>


</svg>


</button>







<!-- SUBMENU -->


<div
id="knowledge-menu"
class="
hidden
ml-8
space-y-2
submenu
">


<a
data-link="computer"
class="sub-link">

Computer

</a>


<a
data-link="camera"
class="sub-link">

Camera

</a>


<a
data-link="spss"
class="sub-link">

SPSS

</a>


<a
data-link="cps"
class="sub-link">

CPS

</a>


</div>





</nav>


</aside>